.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  font-family: Roboto, Arial;
}

.name-icon {
  color: whitesmoke;
  flex: 2;
  font-size: 16px;
  padding-left: 20px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsla(0, 0%, 96%, 1);
  font-size: 12px;
  width: 400px;
  flex-shrink: 0;
  margin-right: 40px;
}

.info-bar div {
  text-align: center;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
}

.info-bar div:hover {
  color: hsla(0, 0%, 96%, 0.8);
  border-width: 1px;
  border-color: hsla(0, 0%, 96%, 0.2);
  border-style: solid;
  border-radius: 10px;
  box-shadow: 1px 1px 0 hsla(0, 0%, 96%, 0.5);;
  margin-right: 0px;
  margin-left: 0px;
}

.info-button {
  color: hsla(0, 0%, 96%, 1);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  border: none;
}
.search-icon {
  width: 12px;
}