.wrapper {
  margin: 0;
  min-height: 100vh;
  background-image: url("../images/retrosupply.jpg");
  background-size: cover;      /* Fill screen */
  background-position: center; /* Center image */
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 60%;
  height: 70%;
  position:absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
}

.loginpage-left {
  display: block;
  width: 60%;
  height: 100%;
  background-image: url(../images/flower.jpg);
  background-size: cover;      /* Fill screen */
  background-position: center; /* Center image */
  overflow: hidden;
}

.information-upper {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}

.login-header {
  color: white;
  margin-bottom: 0;
  text-align: center;
  font-size: 36px;
}

.login-paragraph {
  color: white;
  margin-bottom: 0;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
}

.loginpage-right {
  width: 40%;
  display: flex;
  color:black;
  justify-content: center;
  align-items: center;
}

.loginpage-content {
  width: 50%;
  position: relative;
}

.loginrequest-title {
  font-size: large;
  color: rgb(190, 93, 190);
  text-align: center;
  display: block;
}

.loginrequest-input {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-input {
  border: none;
  background-color: rgba(0, 0, 0, 0.096);
  color: rgb(0, 0, 0);
  height: 26px;
  border-radius: 11px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.loginrequest-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginrequest-button button{
  border: none;
  background-color: aquamarine;
  width: 120px;
  height: 26px;
  border-radius: 13px;
}
