
.index-wrapper {
  margin: 0;
  min-height: 100vh;
  background-image: url("../images/Wood.webp");
  background-size: cover;      /* Fill screen */
  background-position: center; /* Center image */
  overflow: hidden;
}

