.header {
  height: 55px;
  background-color: f3dbc1;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: Roboto, Arial;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

.name-icon {
  flex: 2;
  padding-left: 20px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  flex-shrink: 0;
  padding-right: 20px;
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

.info-bar div {
  font-size: 12px;
  text-align: center;
}

.search-icon {
  width: 20px;
}